@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap');

 body{font-family: 'Sansita Swashed', cursive;}

h1{color: orange;
text-align:center;}
.chabbath{color: orangered;
text-align:center;
}
body{background-image: url(chabbath.jfif);
}
   #h{text-align:center;}

img{font-size: 1px ;
}
@media screen and (max-width:1500px),(min-width:1000px) {
   body{
       width:90%;
       height: 90%;
   }
   iframe{
      width: 90%;
  }
   
}
