@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap');

 body{font-family: 'Sansita Swashed', cursive;}

h1{color: orange;
text-align:center;}

#a{color: orangered;
text-align:center;
text-decoration: none;}

.chabbath{color: orangered;
text-align:center;
}

#horloge{
color:orangered;
  height: 5px;
   display: flex;
    align-items: center;
  justify-content: center;
font-size:40px;
}

body{background-image: url(chabbath.jfif);
}
   #h{text-align:center;}

img{font-size: 1px ;
}
@media screen and (max-width:1500px),(min-width:1000px) {
   body{
       width:90%;
       height: 90%;
   }
   iframe{
      width: 90%;
  }
   
}
