body{background-image: url("https://yt3.ggpht.com/HnGDsxXvS688Q-X2CJDDVZm1qFR-9ulDLLRaegeiy_cm6ttRPbgV7LkCJJavGvkNfjMEpp0k=s176-c-k-c0x00ffffff-no-rj");
   }
  
p{background-color: rgba(0, 140, 255, 0.699);}
em{background-color: blue;}
.sa{background-color: rgb(80, 197, 197);}
#sa{background-color: rgb(58, 143, 146);}
#o{background-color:gold;}
#d{background-color:lime;}
#u{background-color:rgb(128,255,212);}
h4{background-color: coral;}
h2{background-color: rgb(37, 153, 153);}
#r{background-color:rgb(52, 255, 52) ;}
#f{background-color: rgba(116, 25, 25, 0.603);}
@media screen and (max-width:1500px) {
body{
   width:90%;
   height: 90%; 

}
iframe{
  width: 90%;
}

}

   
