 body{background-image: url(https://th.bing.com/th/id/R.31966a43fc16f88f13592374b37c5149?rik=WB1JiSs5xu%2bAQQ&pid=ImgRaw&r=0);
  }
    
         
         #halakha{color: greenyellow;}
           
          h1{text-align: center;
        color: blue;}
          p{text-align: center; 
        color: blueviolet;}
        .v{background-color: rgb(18, 228, 18);}
        .h{background-color: rgba(0, 253, 253, 0.863);}
        .m{background-color: rgba(197, 75, 75, 0.623);}
        
            @media screen and (max-width:1500px),(min-width:1000px) {
              body{
                  width:90%;
                  height: 90%;
           
              }
             iframe{
                 width: 90%;
             }
             
            }
            #video{
              width: 90%;
              margin: auto;
              height: 90%;
            }
