body{background-image: url("https://yt3.ggpht.com/HnGDsxXvS688Q-X2CJDDVZm1qFR-9ulDLLRaegeiy_cm6ttRPbgV7LkCJJavGvkNfjMEpp0k=s176-c-k-c0x00ffffff-no-rj");
    
        width: 1600px
        height: 1000px;
    @media screen and (min-width: 460px) 
       body 
          width:380px;
    @media screen and (min: width 600px;) 
       body 
          width: 520px;
       }

p{background-color: rgba(0, 140, 255, 0.699);}
em{background-color: blue;}
.halakha{background-color: rgb(80, 197, 197);}
#halakha{background-color: rgb(58, 143, 146);}
#horaires{background-color:rgb(128,255,212);}
h


@media screen and (max-width:1500px) {
   body{
       width:90%;
       height: 90%;

   }
  iframe{
      width: 90%;
  }

  
 audio{width: 90%;
                
                height: 90%;
              }

           video{
                 width: 90%;
             }
