body{background-image: url(https://th.bing.com/th/id/R.31966a43fc16f88f13592374b37c5149?rik=WB1JiSs5xu%2bAQQ&pid=ImgRaw&r=0);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
   
  em{text-align: center;}
         
         #halakha{color: greenyellow;}
           
          h1{text-align: center;
        color: blue;}
          h2{text-align: center; 
        color: rgb(5, 255, 230);}

#Dhm{background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
text-align: center;}

h3{background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
text-align: center;}

#audio{
  width: 600px;
  display: block;
  margin-right: auto;
  margin-left: auto;}
video{width: 600px;
  display: block;
  margin-right: auto;
  margin-left: auto;}
  
  iframe{width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;}




 *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        body{
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          background-image: url(https://th.bing.com/th/id/R.31966a43fc16f88f13592374b37c5149?rik=WB1JiSs5xu%2bAQQ&pid=ImgRaw&r=0);
         background-repeat: round;
         
        }
        .navbar{
          height: 70px;
          width: 100%;
          padding: 14px 30px;
          background-image: url(https://th.bing.com/th/id/R.31966a43fc16f88f13592374b37c5149?rik=WB1JiSs5xu%2bAQQ&pid=ImgRaw&r=0);background-color: cadetblue;
  
          position: relative;
        }
        .navbar .nav-header{
          display: inline;
        }
        .navbar .nav-header .nav-logo{
          display: inline-block;
          margin-top: -7px;
        }
        .navbar .nav-links{
          display: inline;
          float: right;
          font-size: 18px;
        }
         
        .navbar .nav-links .loginBtn{
          display: inline-block;
          padding: 5px 15px;
          margin-left: 20px;
          font-size: 17px;
          color: rgb(9, 14, 90);
        }
        .navbar .nav-links a{
          padding: 10px 12px;
          text-decoration: none;
          font-weight: 550;
          color: white;
        }
        /* Hover effects */
        .navbar .nav-links a:hover{
          background-color: blue;
        }
         
        /* responsive navbar toggle button */
        .navbar #nav-check, .navbar .nav-btn{
          display: none;
        }
         
        @media (max-width:700px) {
          .navbar .nav-btn{
            display: inline-block;
            position: absolute;
            top: 0px;
            right: 0px;
          }
          .navbar .nav-btn label {
            display: inline-block;
            width: 80px;
            height: 70px;
            padding: 25px;
          }
          .navbar .nav-btn label span {
            display: block;
            height: 10px;
            width: 25px;
            border-top: 3px solid #eee;
          }
          .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
            background-color: rgb(9, 14, 90);
          }
          .navbar .nav-links{
            position: absolute;
            display: block;
            text-align: center;
            width: 50%;
            background-color: rgb(9, 14, 90);
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            top: 70px;
            right: 0px;
          }
          .navbar .nav-links a {
            display: block;
          }
         
          /* when nav toggle button not checked */
          .navbar #nav-check:not(:checked) ~ .nav-links {
            height: 0px;
          }
         
          /* when nav toggle button is checked */
          .navbar #nav-check:checked ~ .nav-links {
            height: calc(100vh - 70px);
            overflow-y: auto;
          }
          .navbar .nav-links .loginBtn {
            padding: 10px 40px ;
            margin: 20px;
            font-size:  18px;
            font-weight: bold;
            color: rgb(9, 14, 90);
          }
           
         
        }

  h4,h5 {
        font-size: 1.5rem;
    }
    
    
    .submenu-horaires .entree-sortie {
        background-color: rgba(255, 255, 255, 0.80);
        box-shadow: rgb(0 0 0 / 40%) 0px 8px 24px;
        border-radius: 1rem;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        color: #222;
        margin-bottom: 1rem;
    }
    .mb-2, .my-2 {
        margin-bottom: .5rem!important;
    }
    .mt-2, .my-2 {
        margin-top: .5rem!important;
    }
    *, ::after, ::before {
        box-sizing: border-box;
    }
    feuille de style de l’agent utilisateur
    div {
        display: block;
    }
    .text-center {
        text-align: center!important;
    }
    .submenu-horaires {
        background-image: url(https://www.torah-box.com/img/tpl/background_horaires-chabbath.jpg);
        background-size: cover;
        background-position: bottom right;
        color: #fff;
        overflow: hidden;
        border-radius: 1rem;
        height: 90%;
  
      
    }
    body {
        padding-top: 190px;
        font-size: 0.9rem;
        font-family: 'Roboto', sans-serif !important;
    }
    body {
        margin: 0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
    }
    :root {
        --swiper-navigation-size: 44px;
    }
    :root {
        --swiper-theme-color: #007aff;
    }
    :root {
        --blue: #066093;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #066093;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    }
    html {
        font-family: sans-serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
    }
    *, ::after, ::before {
        box-sizing: border-box;
    }
    *, ::after, ::before {
        box-sizing: border-box;
    }
    @media screen and (max-width: 765px){
        .submenu-horaires .entree-sortie {
            font-size:0.80rem;
        }
        .submenu-horaires {
            height: 80%;
        }
    }














       
  
    
            @media screen and (max-width:1500px),(min-width:1000px) {
              body{
                  width:99,9%;
                  height: 99%;
           
              }
             iframe{
                 width: 90%;
             }
             
                  video{
            width:50%;
                height: 50%;
          } 
      #audio{
        width:50%;
                height: 50%;
      }
      }
         
            
