body{background-image: url("https://yt3.ggpht.com/HnGDsxXvS688Q-X2CJDDVZm1qFR-9ulDLLRaegeiy_cm6ttRPbgV7LkCJJavGvkNfjMEpp0k=s176-c-k-c0x00ffffff-no-rj");
   }
   #imo{
text-align: center;
margin: auto;}

#rmha{background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);}
#pr{background-color: rgba(78, 140, 255, 0.979);}
.sa{background-color: #0000ff;}
p{background-color: rgba(0, 140, 255, 0.699);}
em{background-color: rgb(80, 197, 197);}
#sa{background-color: rgb(58, 143, 146);}
#o{background-color:rgb(255, 217, 0);}
#d{background-color:rgba(0, 255, 0, 0.952);}
#u{background-color:rgb(128,255,212);}
h4{background-color: rgb(255, 127, 80);}
h2{background-color: rgb(37, 153, 153);}
#r{background-color:rgb(52, 255, 52) ;}
#f{background-color: rgba(116, 25, 25, 0.603);}
#b{background-color: rgba(214, 126, 75, 0.87);}
#g{ background-color: #773377;}
#rhy{background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);}
#rhch{background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);}

#rhhy{background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);}

#az{background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);}

#ab{background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);}

#at{background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);}

#kih{background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);}






@media screen and (max-width:1500px) {
body{
   width:90%;
   height: 90%; 

}
iframe{
  width: 90%;
}

}
