h3{background-image: url(שירים.jpeg);
color: cornflowerblue;}
body{background-image: url(שירים.jpeg);
     }
 #R{color: red;}

#me{background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
color:white;}
#my{background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);}

     
      @media screen and (max-width:1500px) {
         body{
             width:90%;
             height: 90%;
      
         }
        iframe{
            width: 90%;
        }
        
       }
