body{background-image: url(https://previews.123rf.com/images/revoc9/revoc91310/revoc9131000025/23844530-coucher-de-soleil-sur-le-champ-de-blé-.jpg?fj=1);
background-size: 100%;
    background-repeat: no-repeat;}



span{display: flex;
    justify-content: center;
    }

          img{width: 900px;}
img{
    box-sizing: border-box;
    border-color: black;
  border-style: double;
  border-radius: 40px;

}

a{color: rgb(196, 152, 152);
background-color: black;}


a{
    width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
a{box-sizing: border-box;
border-style: solid;
border-width: 20px;
   border-radius: 30px;
background-color: black;}


@media screen and (max-width:1500px),(min-width:1000px) {
    body{
        width:99z,1%;
        height: 100%;
 
    }
    img{ width: 70%;}
        a{ width: 30%;}
    }


